body {
	background-image: url("../images/StarWarsBackground.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	text-align: center;
	color: white;
	font-size: 40px;

}

h2 {
	text-align: left;
	color: white;
	font-size: 24px;

}

.characterCard {
	position: relative;

}

.characterName {
}

.characterImage {
	width:100%;
}

.characterHealth {
}

.characterCardText {
	background-color: white;
	text-align: center;
}

#attack {
	text-align: center;
	padding-top: 30%;	
}